@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-contents {
	justify-content: center;
}

.primary {
	background-color: #99cc66;
}

/* Add this to your global CSS file (e.g., styles/globals.css) */
@keyframes glow-pulse {
	0% {
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
			0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
		transform: scale(1);
	}
	50% {
		text-shadow: 0 0 15px rgba(255, 255, 255, 0.8),
			0 0 25px rgba(255, 255, 255, 0.6), 0 0 35px rgba(255, 255, 255, 0.4);
		transform: scale(1.1);
	}
	100% {
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
			0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
		transform: scale(1);
	}
}

.animate-glow-pulse {
	animation: glow-pulse 2s infinite;
}
